* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}

input {
    margin-left: 50%;
}


.hidden {
    display: none;
}
